.musicBar {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
   
}

.musicBar::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    /* animate: 0.2s; */
    box-shadow: 1px 1px 1px #000;
    background: var(--green);
    border: none;
}

.musicBar::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px var(--green);
    border: 1px solid var(--green);
    height: 30px;
    width: 10px;
    border-radius: 5px;
    background: var(--black);
    -webkit-appearance: none;
    margin-top: -11px;
}

/* .musicBar::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
}

.musicBar::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
}

.musicBar::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.musicBar::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

.musicBar::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

.musicBar::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
} */
